<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Compatiablity -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First Page</title>
    
    <!-- Resources -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{(url_for('static',filename = 'script.js'))}}"></script>

</head>
<body>
  
<!-- Navigation -->
  <nav>
        <div id="navcontainer">
            <div class="main-logo">
                <img src="{{ url_for('static', filename ='logo.png') }}">
              </div>
              <div class="proj-logo">
                  <img src="{{ url_for('static', filename ='zerologo.png') }}">
                </div>
              <div class="netcontt">
                  <img src="{{ url_for('static', filename ='sigicon.png') }}">
              </div>
        </div>
    </nav>

    
    <!-- Content -->
    <div class="loginform">
        <div class="formcontainer">
            <form onsubmit="return validatename()" action="main-screen.html" >

                <label>Enter your name</label><br>
                <input type="text" id="username" placeholder="Your Name"><br>
                <label id="checkname" style="color: red; visibility: hidden;">Invalid name</label><br>
               <button type="submit">Submit</button>
              </form>
        </div>
    </div>

</body>
</html>